@model Product
@{
    if(Model is null)
    {
        <h2 class="text-center">Product with such ID or name not found</h2>
    }
    else
    {
        <div class="card m-3 text-center" style="width: 16rem;">
            <div class="card-header">
                Product Id: @Model.Id
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: @Model.Name</li>
                <li class="list-group-item">Category: @Model.Category</li>
                <li class="list-group-item">Price: @Model.Price</li>
                <li class="list-group-item">Count: @Model.Count</li>
            </ul>
            <div class="card-footer">
                Description: @Model.Description<br />
                <a class="btn btn-primary my-1" asp-controller="Product" asp-action="SearchProduct">Close</a>
            </div>
        </div>
    }
}