@model Product
@{
    if(Model is null)
    {
        <h2 class="text-center text-info">Product with such ID or name not found</h2>
    }
    else
    {
        <div class="card m-3" style="width: 16rem;">
            <img style="width: 230px; height: 175px; object-fit: contain" src="@Url.Content( Model.ImageLink == null ? "~/image/imageError.png" : Model.ImageLink)" class="card-img-top" alt="..." />
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Product Id: @Model.Id</li>
                <li class="list-group-item">Name: @Model.Name</li>
                <li class="list-group-item">Category: @Model.Category</li>
                <li class="list-group-item">Price: @Model.Price</li>
                <li class="list-group-item">Count: @Model.Count</li>
                <li class="list-group-item">Description: @Model.Description</li>
                <a class="btn btn-primary my-1" asp-controller="Product" asp-action="SearchProduct">Close</a>
            </ul>
        </div>
    }
}